* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.header--dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 57, 64);
    color: rgb(236, 236, 236);
    height: 3rem;
}

.header__title {
    font-size: 1.25rem;
    padding-left: 2rem;
}

.header__search {
    font-size: 1.25rem;
    display: inline;
    margin-left: auto;
    /* float: right; */
}

.search__input {
    border: 1px solid;
    border-radius: 4px 0 0 4px;
    font-size: 1.2rem;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    margin-right: -3px;
    outline: none;
    transition: border-color 0.15s;
}
.search__input:focus {
    border-color: rgb(128, 189, 255);
}

.search__btn {
    background-color: rgb(0, 123, 255);
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.1rem;
    margin-left: -1px;
    padding: 0.5rem 0.75rem 0.375rem 0.75rem;
}
.search__btn--2 {
    background-color: rgb(51, 57, 64);
    border: none;
    color: rgb(155, 154, 154);
    font-size: 1.1rem;
    margin: 0 1rem 0 -0.3rem;
    padding: 0.5rem 0.75rem 0.375rem 0.75rem;
}

        /*Menü rész  */

.main {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.main__aside {
    background-color: rgb(33, 37, 41);
    color: rgb(236, 236, 236);
    min-width: 12rem;
    margin: 0;
    padding: 0;
}
.nav__header {
    text-transform: uppercase;

}

.nav__ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;

}
.nav__li {
    font-size: .9rem;
    color: rgb(179, 178, 178);
}
.nav__ul li {
    padding: 1rem 0 1rem 1rem;
    color: rgb(145, 144, 142); 
}
.nav__ul a {
    color: rgb(107, 104, 104);
    text-decoration: none;
}
.nav__icon {
    padding: 1rem 1rem 1rem 0;
}

.nav__ul li:hover {
    background-color: rgb(72, 78, 83);
    color: white;
}
.nav__ul a:hover{
    color: white; 

}  
.content {
    flex-basis: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.main__breadcrumb {
    background-color: rgb(233, 236, 239);
    border-radius: .25rem;
    padding: 1rem 1.5rem;
}
.main__cards {
    display: flex;
    flex-direction: row;
    height: 6rem;
    margin-top: 1rem;
    padding: 0;
    border-radius: 0.25rem;
}
.main__card {
    flex-basis: 100%;
    border-radius: .25rem;
}
/* Doboz színek */

.main__card--blue {
    background-color: rgb(0, 123, 255);
    transition: background-color 0.3s ease-in-out;
}
.main__card--blue:hover {
    background-color: rgb(4, 101, 206);
}

.main__card--yellow {
    background-color: rgb(255, 193, 7);
    transition: background-color 0.3s ease-in-out;
}
.main__card--yellow:hover {
    background-color: rgb(214, 161, 3);
}

.main__card--green {
    background-color: rgb(40, 167, 69);
    transition: background-color 0.3s ease-out;
}
.main__card--green:hover {
    background-color: rgb(28, 122, 50);
}

.main__card--red {
    background-color: rgb(220, 53, 69);
    transition: background-color 0.3s ease-out;
}
.main__card--red:hover {
    background-color: rgb(182, 45, 58);
}


.main__cards span {
    margin: 1rem 0 1rem 1rem;
}
.main__card--blue {
    margin-right: 2%;
}
.main__card--yellow {
    margin-right: 2%;
}
.main__card--green {
    margin-right: 2%;   
}

.card__top {
    width: 100%;
    height: 60%;
    border-radius:  0.25rem 0.25rem 0 0;
    padding: .5rem .5rem .5rem 1rem;
    color: white;
}
.card__bottom {
    display: flex; 
    justify-content: space-between;
    width: 100%;
    height: 40%;
    border: .5px solid rgba(0, 0, 0, .1);
    border-radius: 0 0 0.25rem 0.25rem;
    padding: 0;
    color: white;
}
h6 {
    display: inline-block;
    margin: 0;
    padding: .8rem;

}
.card__bottom--arrow {
    color: white;
    padding: .6rem;
}

@media(max-width: 900px) {
    .main__cards {
        width: 50%;
    }
}
@media(max-width: 500px) {
    .main__cards {
        width: 100%;
    }
}